<% if @fans.any? %>
  <h3>Fans</h3>
  <ul>
    <% @fans.each do |fan| %>
      <li>
        <%= profile_image_for(fan, size: 15) %>
        <%= link_to fan.name, fan %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Genres</h3>
<ul>
  <% @genres.each do |genre| %>
  <li> <%= link_to genre.name, genre %> </li>
  <% end %>
</ul>
